In [10]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "Age":[10,20,30,23,33,42,24,26],
    "Salary":[50000,60000,450000,52000,56000,46000,70000,85000],
    "performace Score":[85,55,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

#adding bonues colume 10% of salary
df["Bonus"]=df["Salary"]*0.1
print(df)

#using insert at 0 index colume()
df.insert(0,"Employee_id",[10,20,30,40,50,60,70,80])
print(df)

sample Dataframe
        Name  Age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89
        Name  Age  Salary  performace Score    Bonus
0       sham   10   50000                85   5000.0
1        ram   20   60000                55   6000.0
2  ghanshyam   30  450000                66  45000.0
3  dhanshyam   23   52000                90   5200.0
4      alice   33   56000                92   5600.0
5        bob   42   46000                55   4600.0
6        raj   24   70000                70   7000.0
7     simarn   26   85000                89   8500.0
   Employee_id       Name  Age  Salary  performace Score    Bonus
0           10       sham   10   50000                85   5000.0
1           20        ram   20   60000                55   6000.0
2           30  ghanshyam   30  450000                66  45000.0
3           40  dhanshyam   23   52000                90   5200.0
4           50      alice   33   56000                92   5600.0
5           60        bob   42   46000                55   4600.0
6           70        raj   24   70000                70   7000.0
7           80     simarn   26   85000                89   8500.0