In [12]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "age":[10,20,30,23,33,42,24,26],
    "Salary":[50000,60000,450000,52000,56000,46000,70000,85000],
    "performace Score":[85,55,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

#single colume acces
print("Name (single colume series)")
name=df["Name"]
print(name)

#multiple colume acces
subset=df[['Name','Salary']]
print('\nSubset with Name and Salary')
print(subset)

sample Dataframe
        Name  age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89
Name (single colume series)
0         sham
1          ram
2    ghanshyam
3    dhanshyam
4        alice
5          bob
6          raj
7       simarn
Name: Name, dtype: object

Subset with Name and Salary
        Name  Salary
0       sham   50000
1        ram   60000
2  ghanshyam  450000
3  dhanshyam   52000
4      alice   56000
5        bob   46000
6        raj   70000
7     simarn   85000