In [5]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam'],
    "age":[10,20,30,],
    "city":['mumbai','dheli','nagpur']
 }
df=pd.DataFrame(data)
print(df)

        Name  age    city
0       sham   10  mumbai
1        ram   20   dheli
2  ghanshyam   30  nagpur

In [4]:
df.to_csv("output.csv",index=False)  #it is used to save file in csv

In [3]:
df.to_excel("output.xlsx",index=False)  #it is used to save file in excel

NameError: name 'df' is not defined

In [ ]:
df.to_json("output.json",index=False)  #it is used to save file in json

In [7]:
print("Display the info of data set")
print(df.info())

Display the info of data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   age     3 non-null      int64
 2   city    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None