In [6]:

import pandas as pd

data={
    "Name":['Arun','varu ','karun','Narun',"Marun"],
    "Age":[28,34,22,34,28],
    "Salary":[50000,60000,45000,52000,48000]
}
df=pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   Arun   28   50000
1  varu    34   60000
2  karun   22   45000
3  Narun   34   52000
4  Marun   28   48000

In [14]:
#grouping
grouped=df.groupby("Age")["Salary"].sum()
print(grouped)

Age
22     45000
28     98000
34    112000
Name: Salary, dtype: int64

In [20]:
# grouping multi columen
grouped = df.groupby(["Age", "Name"])["Salary"].sum()
print(grouped)

Age  Name
22   karun    45000
28   Arun     50000
     Marun    48000
34   Narun    52000
     varu     60000
Name: Salary, dtype: int64

In [ ]:
sum() → Total

mean() → Average

min() → Minimum

max() → Maximum

count() → Count of values

std() → Standard deviation

var() → Variance

median() → Middle value