In [25]:
import pandas as pd
data={
    "Name":['sham',None,'ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "Age":[10,None,28,23,33,42,24,26],
    "Salary":[50000,None,450000,52000,56000,46000,70000,85000],
    "Performace Score":[85,None,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

# it will show the missing data in colume
print(df.isnull())
#count of missing data
print(df.isnull().sum())


#filling missing data
df.fillna(0,inplace=True)
print(df)

sample Dataframe
        Name   Age    Salary  Performace Score
0       sham  10.0   50000.0              85.0
1       None   NaN       NaN               NaN
2  ghanshyam  28.0  450000.0              66.0
3  dhanshyam  23.0   52000.0              90.0
4      alice  33.0   56000.0              92.0
5        bob  42.0   46000.0              55.0
6        raj  24.0   70000.0              70.0
7     simarn  26.0   85000.0              89.0
    Name    Age  Salary  Performace Score
0  False  False   False             False
1   True   True    True              True
2  False  False   False             False
3  False  False   False             False
4  False  False   False             False
5  False  False   False             False
6  False  False   False             False
7  False  False   False             False
Name                1
Age                 1
Salary              1
Performace Score    1
dtype: int64
        Name   Age    Salary  Performace Score
0       sham  10.0   50000.0              85.0
1          0   0.0       0.0               0.0
2  ghanshyam  28.0  450000.0              66.0
3  dhanshyam  23.0   52000.0              90.0
4      alice  33.0   56000.0              92.0
5        bob  42.0   46000.0              55.0
6        raj  24.0   70000.0              70.0
7     simarn  26.0   85000.0              89.0

In [18]:
#droping missing data
df.dropna(inplace=True)
print(df)

        Name   Age    Salary  Performace Score
0       sham  10.0   50000.0              85.0
2  ghanshyam  28.0  450000.0              66.0
3  dhanshyam  23.0   52000.0              90.0
4      alice  33.0   56000.0              92.0
5        bob  42.0   46000.0              55.0
6        raj  24.0   70000.0              70.0
7     simarn  26.0   85000.0              89.0

In [31]:
import pandas as pd
data={
    "Name":['sham',None,'ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "Age":[10,None,28,23,33,42,24,26],
    "Salary":[50000,None,450000,52000,56000,46000,70000,85000],
    "Performace Score":[85,None,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)


#filling missing data of age by mean
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Salary"].fillna(df["Salary"].mean(),inplace=True)
print(df)

sample Dataframe
        Name   Age    Salary  Performace Score
0       sham  10.0   50000.0              85.0
1       None   NaN       NaN               NaN
2  ghanshyam  28.0  450000.0              66.0
3  dhanshyam  23.0   52000.0              90.0
4      alice  33.0   56000.0              92.0
5        bob  42.0   46000.0              55.0
6        raj  24.0   70000.0              70.0
7     simarn  26.0   85000.0              89.0
        Name        Age         Salary  Performace Score
0       sham  10.000000   50000.000000              85.0
1       None  26.571429  115571.428571               NaN
2  ghanshyam  28.000000  450000.000000              66.0
3  dhanshyam  23.000000   52000.000000              90.0
4      alice  33.000000   56000.000000              92.0
5        bob  42.000000   46000.000000              55.0
6        raj  24.000000   70000.000000              70.0
7     simarn  26.000000   85000.000000              89.0

C:\Users\saadm\AppData\Local\Temp\ipykernel_4892\3470912229.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)
C:\Users\saadm\AppData\Local\Temp\ipykernel_4892\3470912229.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(),inplace=True)