In [8]:
import pandas as pd
data={
    "Name":['sham',"ram",'ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "Age":[10,None,28,23,33,42,24,26],
    "Salary":[50000,None,450000,52000,56000,46000,70000,85000],
    "Performace Score":[85,None,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

sample Dataframe
        Name   Age    Salary  Performace Score
0       sham  10.0   50000.0              85.0
1        ram   NaN       NaN               NaN
2  ghanshyam  28.0  450000.0              66.0
3  dhanshyam  23.0   52000.0              90.0
4      alice  33.0   56000.0              92.0
5        bob  42.0   46000.0              55.0
6        raj  24.0   70000.0              70.0
7     simarn  26.0   85000.0              89.0

In [13]:
#interpolate method
#It fills missing (NaN) values in the DataFrame by estimating values in a straight line between existing data points, column-wise.
df.interpolate(method="linear",axis=0,inplace=True)
print(df)

        Name   Age    Salary  Performace Score
0       sham  10.0   50000.0              85.0
1        ram  19.0  250000.0              75.5
2  ghanshyam  28.0  450000.0              66.0
3  dhanshyam  23.0   52000.0              90.0
4      alice  33.0   56000.0              92.0
5        bob  42.0   46000.0              55.0
6        raj  24.0   70000.0              70.0
7     simarn  26.0   85000.0              89.0

C:\Users\saadm\AppData\Local\Temp\ipykernel_10604\3077600702.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear",axis=0,inplace=True)