In [16]:
# head 
#tail
#tail()5
#tail(n)5
import pandas as pd

#read data from csv into a dataframe
df= pd.read_csv("bookings.csv")
print(df)

print('Display 10 rows of first')
df.head(10)

                  Date      Time     Booking_ID        Booking_Status  \
0      7/26/2024 14:00  14:00:00  CNR7153255142    Canceled by Driver
1      7/25/2024 22:20  22:20:00  CNR2940424040               Success
2      7/30/2024 19:59  19:59:00  CNR2982357879               Success
3       7/22/2024 3:15   3:15:00  CNR2395710036  Canceled by Customer
4        7/2/2024 9:02   9:02:00  CNR1797421769               Success
...                ...       ...            ...                   ...
40534  7/11/2024 10:48  10:48:00  CNR4880945510    Canceled by Driver
40535  7/17/2024 10:19  10:19:00  CNR7023537023    Canceled by Driver
40536    7/7/2024 0:52   0:52:00  CNR9213856561      Driver Not Found
40537   7/9/2024 19:13  19:13:00  CNR7938850063               Success
40538   7/1/2024 22:15  22:15:00  CNR5956494583               Success

      Customer_ID Vehicle_Type    Pickup_Location Drop_Location  V_TAT  C_TAT  \
0       CID713523  Prime Sedan        Tumkur Road      RT Nagar    NaN    NaN
1       CID225428         Bike        Magadi Road       Varthur  203.0   30.0
2       CID270156    Prime SUV      Sahakar Nagar       Varthur  238.0  130.0
3       CID581320        eBike         HSR Layout   Vijayanagar    NaN    NaN
4       CID939555         Mini        Rajajinagar   Chamarajpet  252.0   80.0
...           ...          ...                ...           ...    ...    ...
40534   CID517841   Prime Plus        Rajajinagar        Ulsoor    NaN    NaN
40535   CID493873         Auto       Banashankari      Hulimavu    NaN    NaN
40536   CID293727        eBike        Chamarajpet   Tumkur Road    NaN    NaN
40537   CID322073    Prime SUV       Kammanahalli   Chamarajpet  259.0   90.0
40538   CID937626        eBike  Bannerghatta Road       Varthur  154.0   55.0

                         Canceled_Rides_by_Customer  \
0                                               NaN
1                                               NaN
2                                               NaN
3      Driver is not moving towards pickup location
4                                               NaN
...                                             ...
40534                                           NaN
40535                                           NaN
40536                                           NaN
40537                                           NaN
40538                                           NaN

                  Canceled_Rides_by_Driver Incomplete_Rides  \
0             Personal & Car related issue              NaN
1                                      NaN               No
2                                      NaN               No
3                                      NaN              NaN
4                                      NaN               No
...                                    ...              ...
40534           Customer was coughing/sick              NaN
40535  More than permitted people in there              NaN
40536                                  NaN              NaN
40537                                  NaN               No
40538                                  NaN               No

      Incomplete_Rides_Reason  Booking_Value Payment_Method  Ride_Distance  \
0                         NaN            444            NaN              0
1                         NaN            158           Cash             13
2                         NaN            386            UPI             40
3                         NaN            384            NaN              0
4                         NaN            822    Credit Card             45
...                       ...            ...            ...            ...
40534                     NaN            151            NaN              0
40535                     NaN           2232            NaN              0
40536                     NaN           1940            NaN              0
40537                     NaN            624    Credit Card             33
40538                     NaN            496           Cash              9

       Driver_Ratings  Customer_Rating Vehicle Images
0                 NaN              NaN         #NAME?
1                 4.1              4.0         #NAME?
2                 4.2              4.8         #NAME?
3                 NaN              NaN         #NAME?
4                 4.0              3.0         #NAME?
...               ...              ...            ...
40534             NaN              NaN         #NAME?
40535             NaN              NaN         #NAME?
40536             NaN              NaN         #NAME?
40537             3.1              4.0         #NAME?
40538             3.9              3.7         #NAME?

[40539 rows x 20 columns]
Display 10 rows of first

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
0,7/26/2024 14:00,14:00:00,CNR7153255142,Canceled by Driver,CID713523,Prime Sedan,Tumkur Road,RT Nagar,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,444,NaN,0,NaN,NaN,#NAME?
1,7/25/2024 22:20,22:20:00,CNR2940424040,Success,CID225428,Bike,Magadi Road,Varthur,203.0,30.0,NaN,NaN,No,NaN,158,Cash,13,4.1,4.0,#NAME?
2,7/30/2024 19:59,19:59:00,CNR2982357879,Success,CID270156,Prime SUV,Sahakar Nagar,Varthur,238.0,130.0,NaN,NaN,No,NaN,386,UPI,40,4.2,4.8,#NAME?
3,7/22/2024 3:15,3:15:00,CNR2395710036,Canceled by Customer,CID581320,eBike,HSR Layout,Vijayanagar,NaN,NaN,Driver is not moving towards pickup location,NaN,NaN,NaN,384,NaN,0,NaN,NaN,#NAME?
4,7/2/2024 9:02,9:02:00,CNR1797421769,Success,CID939555,Mini,Rajajinagar,Chamarajpet,252.0,80.0,NaN,NaN,No,NaN,822,Credit Card,45,4.0,3.0,#NAME?
5,7/13/2024 4:42,4:42:00,CNR8787177882,Success,CID802429,Mini,Kadugodi,Vijayanagar,231.0,90.0,NaN,NaN,No,NaN,173,UPI,41,3.4,4.6,#NAME?
6,7/23/2024 9:51,9:51:00,CNR3612067560,Success,CID476071,Bike,Tumkur Road,Whitefield,133.0,40.0,NaN,NaN,No,NaN,140,Cash,49,3.2,4.5,#NAME?
7,7/11/2024 11:12,11:12:00,CNR5374902489,Canceled by Driver,CID735691,Prime Plus,Bannerghatta Road,Sarjapur Road,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,344,NaN,0,NaN,NaN,#NAME?
8,7/1/2024 19:19,19:19:00,CNR5030602354,Driver Not Found,CID999840,Mini,Chamarajpet,Peenya,NaN,NaN,NaN,NaN,NaN,NaN,839,NaN,0,NaN,NaN,#NAME?
9,7/18/2024 1:31,1:31:00,CNR6328453219,Canceled by Driver,CID907133,Auto,RT Nagar,Varthur,NaN,NaN,NaN,Personal & Car related issue,NaN,NaN,893,NaN,0,NaN,NaN,#NAME?

In [18]:
print('Display 10 rows of last')
df.tail(10)

Display 10 rows of last

,Date,Time,Booking_ID,Booking_Status,Customer_ID,Vehicle_Type,Pickup_Location,Drop_Location,V_TAT,C_TAT,Canceled_Rides_by_Customer,Canceled_Rides_by_Driver,Incomplete_Rides,Incomplete_Rides_Reason,Booking_Value,Payment_Method,Ride_Distance,Driver_Ratings,Customer_Rating,Vehicle Images
40529,7/16/2024 11:31,11:31:00,CNR4216231493,Success,CID506831,Bike,Kengeri,Ulsoor,224.0,100.0,NaN,NaN,No,NaN,259,Cash,25,4.4,4.9,#NAME?
40530,7/21/2024 13:21,13:21:00,CNR6178791438,Success,CID373916,Mini,Chickpet,Bannerghatta Road,105.0,30.0,NaN,NaN,No,NaN,483,UPI,4,4.0,3.7,#NAME?
40531,7/3/2024 2:57,2:57:00,CNR4367028634,Success,CID387923,Prime SUV,JP Nagar,Hebbal,308.0,140.0,NaN,NaN,No,NaN,467,Credit Card,49,4.1,4.8,#NAME?
40532,7/17/2024 22:50,22:50:00,CNR8717067176,Success,CID116122,Prime Sedan,RT Nagar,Marathahalli,175.0,40.0,NaN,NaN,No,NaN,744,Cash,46,4.3,4.4,#NAME?
40533,7/23/2024 0:20,0:20:00,CNR7821272214,Success,CID336478,Mini,Yelahanka,Yelahanka,140.0,85.0,NaN,NaN,No,NaN,288,Cash,43,3.8,4.6,#NAME?
40534,7/11/2024 10:48,10:48:00,CNR4880945510,Canceled by Driver,CID517841,Prime Plus,Rajajinagar,Ulsoor,NaN,NaN,NaN,Customer was coughing/sick,NaN,NaN,151,NaN,0,NaN,NaN,#NAME?
40535,7/17/2024 10:19,10:19:00,CNR7023537023,Canceled by Driver,CID493873,Auto,Banashankari,Hulimavu,NaN,NaN,NaN,More than permitted people in there,NaN,NaN,2232,NaN,0,NaN,NaN,#NAME?
40536,7/7/2024 0:52,0:52:00,CNR9213856561,Driver Not Found,CID293727,eBike,Chamarajpet,Tumkur Road,NaN,NaN,NaN,NaN,NaN,NaN,1940,NaN,0,NaN,NaN,#NAME?
40537,7/9/2024 19:13,19:13:00,CNR7938850063,Success,CID322073,Prime SUV,Kammanahalli,Chamarajpet,259.0,90.0,NaN,NaN,No,NaN,624,Credit Card,33,3.1,4.0,#NAME?
40538,7/1/2024 22:15,22:15:00,CNR5956494583,Success,CID937626,eBike,Bannerghatta Road,Varthur,154.0,55.0,NaN,NaN,No,NaN,496,Cash,9,3.9,3.7,#NAME?

In [20]:
print("Display the info of data set")
print(df.info())

Display the info of data set
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40539 entries, 0 to 40538
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        40539 non-null  object
 1   Time                        40539 non-null  object
 2   Booking_ID                  40539 non-null  object
 3   Booking_Status              40539 non-null  object
 4   Customer_ID                 40539 non-null  object
 5   Vehicle_Type                40539 non-null  object
 6   Pickup_Location             40539 non-null  object
 7   Drop_Location               40539 non-null  object
 8   V_TAT                       25207 non-null  float64
 9   C_TAT                       25207 non-null  float64
 10  Canceled_Rides_by_Customer  4079 non-null   object
 11  Canceled_Rides_by_Driver    7212 non-null   object
 12  Incomplete_Rides            25207 non-null  object
 13  Incomplete_Rides_Reason     1542 non-null   object
 14  Booking_Value               40539 non-null  int64
 15  Payment_Method              25207 non-null  object
 16  Ride_Distance               40539 non-null  int64
 17  Driver_Ratings              25207 non-null  float64
 18  Customer_Rating             25207 non-null  float64
 19  Vehicle Images              40539 non-null  object
dtypes: float64(4), int64(2), object(14)
memory usage: 6.2+ MB
None

In [34]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "age":[10,20,30,23,33,42,24,26],
    "Salary":[50000,60000,450000,52000,56000,46000,70000,85000],
    "performace Score":[85,55,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

print("Descriptive Statistics")
print(df.describe())

sample Dataframe
        Name  age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89
Descriptive Statistics
             age         Salary  performace Score
count   8.000000       8.000000          8.000000
mean   26.000000  108625.000000         75.250000
std     9.456668  138505.221665         15.654757
min    10.000000   46000.000000         55.000000
25%    22.250000   51500.000000         63.250000
50%    25.000000   58000.000000         77.500000
75%    30.750000   73750.000000         89.250000
max    42.000000  450000.000000         92.000000

In [38]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "age":[10,20,30,23,33,42,24,26],
    "Salary":[50000,60000,450000,52000,56000,46000,70000,85000],
    "performace Score":[85,55,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

print(f'shape: {df.shape}')
print(f'Column Names:{df.cloumes}')

sample Dataframe
        Name  age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89
shape: (8, 4)

AttributeError: 'DataFrame' object has no attribute 'cloumes'