In [4]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "Age":[10,20,30,23,33,42,24,26],
    "Salary":[50000,60000,450000,52000,56000,46000,70000,85000],
    "performace Score":[85,55,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

#single row acces
rows=df[df['Salary']>=50000 ]
print("Employee with Salary> 50000")
print(rows)

#multi row acces
multirows=df[(df['Age']>30)&(df['Salary']>=50000) ]
print("Employee list age> 30 + Salary> 50000")
print(multirows)

sample Dataframe
        Name  Age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89
Employee with Salary> 50000
        Name  Age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
6        raj   24   70000                70
7     simarn   26   85000                89
Employee list age> 30 + Salary> 50000
    Name  Age  Salary  performace Score
4  alice   33   56000                92

In [18]:
multirows2 = df[(df['Age'] > 30) | (df['performace Score'] >90)]
print("Employee list age > 30 or performace score>90")
print(multirows2)

Employee list age > 30 or performace score>90
    Name  Age  Salary  performace Score
4  alice   33   56000                92
5    bob   42   46000                55