In [18]:
import pandas as pd

data={
    "Name":['Arun','varu ','karun'],
    "Age":[28,34,22],
    "Salary":[10000,20000,30000]
}
df=pd.DataFrame(data)
print(df)

#sorting one column
df.sort_values(by="Age", ascending=False,inplace=True)
print(df)

    Name  Age  Salary
0   Arun   28   10000
1  varu    34   20000
2  karun   22   30000
    Name  Age  Salary
1  varu    34   20000
0   Arun   28   10000
2  karun   22   30000

In [22]:
#sorting multi column
df.sort_values( by=["Age","Salary"],ascending=[False,True],inplace=True)
print(df)

    Name  Age  Salary
1  varu    34   20000
0   Arun   28   10000
2  karun   22   30000

In [40]:
#Aggregating

import pandas as pd

data={
    "Name":['Arun','varu ','karun'],
    "Age":[28,34,22],
    "Salary":[10000,20000,30000]
}
df=pd.DataFrame(data)
print(df)

#Avg_salary
print("Avg_salary: ")
Avg_salary=df['Salary'].mean()
# Avg_salary=df['Salary'].sum()
# Avg_salary=df['Salary'].min()
# Avg_salary=df['Salary'].max()
print(Avg_salary)

    Name  Age  Salary
0   Arun   28   10000
1  varu    34   20000
2  karun   22   30000
Avg_salary:
30000

Avg_salary:
30000