In [3]:
import pandas as pd
data={
    "Name":['sham','ram','ghanshyam','dhanshyam','alice','bob','raj','simarn'],
    "Age":[10,20,30,23,33,42,24,26],
    "Salary":[50000,60000,450000,52000,56000,46000,70000,85000],
    "performace Score":[85,55,66,90,92,55,70,89]
 }
df=pd.DataFrame(data)
print("sample Dataframe")
print(df)

#updating
print("updating salary")
df.loc[0,"Salary"]=55000
print(df)

sample Dataframe
        Name  Age  Salary  performace Score
0       sham   10   50000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89
updating salary
        Name  Age  Salary  performace Score
0       sham   10   55000                85
1        ram   20   60000                55
2  ghanshyam   30  450000                66
3  dhanshyam   23   52000                90
4      alice   33   56000                92
5        bob   42   46000                55
6        raj   24   70000                70
7     simarn   26   85000                89

In [9]:
#incarasing salary by 5%
df["Salary"]=df["Salary"]*1.05
print(df)

        Name  Age    Salary  performace Score
0       sham   10   57750.0                85
1        ram   20   63000.0                55
2  ghanshyam   30  472500.0                66
3  dhanshyam   23   54600.0                90
4      alice   33   58800.0                92
5        bob   42   48300.0                55
6        raj   24   73500.0                70
7     simarn   26   89250.0                89